<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body, html {
            background-image: url('/static/background.gif');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #F5FFFA;
            font-family: 'Pacifico', cursive;
            font-size: 50px;
            position:relative;
            top:30px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h>你选错了！！！！！生气了！！</h>
</body>
</html>